.navbar-elem {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.navbar-img-container {
    width: 50px;
    height: auto;
}

.navbar-img {
    width: 100%;
    height: auto;
}

.navbar-container {
    padding: 15px;
    margin-top: 15px;
    background-color: gray;
    align-items: center;
}

.footer-img {
    width: 50px;
    height: auto;
    object-fit: cover;
}
